<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login or Register</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <div class="container text-center mt-3">
    <h2 class="mb-4">Please log in or register to continue.</h2>
    <div class="justify-content-center">
      <a href="/login" class="btn  btn-primary">Login</a>
      <a href="/register" class="btn btn-primary">Register</a>
    </div>
  </div>
</body>
</html>
