<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Top Bar with a solid color -->
    <header class="top-bar">
        <h1>Track My Movies</h1> <!-- You can customize this text as needed -->
    </header>

    <main>
        {{{body}}} <!-- Content for each page will go here -->
    </main>
</body>
</html>
