<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-2">
    <div class="card p-4" style="widtch = 30">
      <h1 class="mb-4 text-center">{{title}}</h1>
      <form action="/login" method="POST">
        <div class="mb-4">
          <label for="username" class="form-label">Username:</label>
          <input type="text" id="username" name="username" class="form-control" required />
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password:</label>
          <input type="password" id="password" name="password" class="form-control" required />
        </div>
        {{#if message}}
          <p class="text-danger">{{message}}</p>
        {{/if}}
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>
</body>
</html>
